.profit_button {
    position: relative;
    overflow: hidden;
    background: #4c8bf7;
    border: 1px solid #4077d6;
    border-radius: 4px;
    padding: 0.5em 1em;
    color: #fff;
    cursor: pointer;
    outline: none;
    margin-top: 1em;

    /* плавное увеличение на hover */
    transition: box-shadow 0.2s ease;

}

/* Hover эффект (поблескивание + небольшое увеличение) */
.profit_button:hover {
    /* transform: scale(1.01); */
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

/* Псевдоэлемент блеска */
.profit_button::after {
    content: "";
    position: absolute;
    top: 0;
    left: -75%;
    width: 50%;
    height: 100%;
    background: linear-gradient(
        120deg,
        rgba(255,255,255,0) 0%,
        rgba(255,255,255,0.5) 50%,
        rgba(255,255,255,0) 100%
    );
    transform: skewX(-20deg);
    pointer-events: none;
    opacity: 0;
    transition: box-shadow 0.2s ease, background 0.2s ease;
}

/* Блеск один раз при hover */
.profit_button:hover::after {
    opacity: 1;
    animation: shineOnce 0.8s forwards;
}

/* Анимация блеска */
@keyframes shineOnce {
    0% { left: -75%; }
    100% { left: 125%; }
}

/* При нажатии добавляем полупрозрачный слой */
.profit_button:active::before {
    background: rgba(0,0,0,0.2); /* лёгкое затемнение */
}

/* Сдвиг вниз при нажатии */
.profit_button:active {
    transform: translateY(1px); /* кнопка как бы нажимается */
    box-shadow: 0 2px 6px rgba(0,0,0,0.2); /* уменьшаем тень */
}
